{% extends 'blog/base.html' %}
{% block content %}
<div class="valign-wrapper center-align">
    <h2>Please Login</h2>
    <h3>(must be a superuser)</h3>
    {% if form.errors %}
    <p>username or password does not match ,please try again</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p  }}
        <input type="submit" class="wave-effect wave-light small-btn" value="Login">
        <input type="hidden" name="next" value="{{next}}"">
    </form>
</div>
{% endblock %}